<div class="container">
  <div *ngIf="!a">
    <app-spinner></app-spinner>
  </div>
  <form *ngIf="a" class="form-horizontal">
    <div class="steps">
      <p>Break the door and reach your dream!</p>
      <md-progress-bar
        color="primary"
        mode="determinate"
        [value]="progressValue">
      </md-progress-bar>
      <ul class="steps-list">
        <li (click)="a.status='dreamingOf'"
            [class.active-step]="a.status=='dreamingOf'">
          <span>1</span>
          <p>Dreaming of</p>
        </li>
        <li (click)="a.status='applied'"
            [class.active-step]="a.status=='applied'">
          <span>2</span>
          <p>Applied</p>
        </li>
        <li (click)="a.status='ongoing'"
            [class.active-step]="a.status=='ongoing'">
          <span>3</span>
          <p>Ongoing</p>
        </li>
        <li (click)="a.status='gotcha'"
            [class.active-step]="a.status=='gotcha'">
          <span>4</span>
          <p>Gotcha!</p>
        </li>
      </ul>
    </div>

    <!-- Form step 1 -->
    <div class="form-group" id="company" *ngIf="a.status==='dreamingOf'">
      <label class="fullwidth" for="company"><h4>Company</h4></label>
      <!-- TODO make this dropdown work, I don't know how to receive the selected event
      <label for="company-name2">Name</label>
      <input placeholder="Your New Company Ltd" id="company-name2" required
             class="form-control" type="text" list="autocompletions-list"
             [formControl]="term"
             (select)="test($event)"
             [(ngModel)]="a.company.name" name="companyName">
      <datalist id="autocompletions-list">
        <option *ngFor="let c of autocompletions | async"
                [value]="c.name"
                [label]="c.website"></option>
      </datalist>
      -->
      <label for="company-name">Name</label>
      <input placeholder="Your New Company Ltd" id="company-name" required
             class="form-control" type="text"
             [formControl]="term"
             (blur)="dropdownVisible = false" (focus)="dropdownVisible = true"
             [(ngModel)]="a.company.name" name="companyName">
      <ul class="list-unstyled dropdown" [ngClass]="{'isVisible': dropdownVisible}">
        <li *ngFor="let item of autocompletions | async">
          <a (click)="showCompanyInfo(item)">{{item.name}}</a>
        </li>
      </ul>
      <label for="company-website">Website</label>
      <input placeholder="Website URL" id="company-website"
             class="form-control" type="text"
             [(ngModel)]="a.company.website" name="companyLocation">
      <label for="company-business-area">Business area</label>
      <input placeholder="Recreation" id="company-business-area"
             class="form-control" type="text"
             [(ngModel)]="a.company.businessArea" name="companyBusinessArea">

      <div id="position">
        <label for="position" class="fullwidth"><h4>Position</h4></label>
        <label for="position-title">Title</label>
        <input placeholder="Chief of Everything" id="position-title"
               class="form-control" type="text"
               [(ngModel)]="a.position.title" name="positionTitle">
        <label for="position-notes">Notes</label>
        <textarea placeholder="A little bird told me about this position" id="position-notes"
                  class="form-control" type="text" rows="3"
                  [(ngModel)]="a.position.notes" name="positionTitle"></textarea>
        <label for="position-salary">Expected Salary</label>
        <div class="form-inline" id="position-salary">
          <input placeholder="100"
                 class="form-control" type="number"
                 [(ngModel)]="a.position.expectedSalary.value" name="positionSalaryValue">
          <select class="form-control" [(ngModel)]="a.position.expectedSalary.currency" name="positionSalaryCurrency">
            <option *ngFor="let c of applicationsService.currencies" [value]="c.value">{{c.display}}</option>
          </select>
          <select class="form-control" [(ngModel)]="a.position.expectedSalary.billings" name="positionSalaryBilling">
            <option *ngFor="let b of applicationsService.billings" [value]="b.value">{{b.display}}</option>
          </select>

        </div>

        <!-- TODO upload attachments -->
      </div>
    </div>

    <!-- Form step 2 -->
    <div class="form-group" *ngIf="a.status==='applied'">
      <label for="dreaming-contact">Contact person</label>
      <div id="dreaming-contact">
        <input placeholder="The Boss"
               class="form-control" type="text"
               [(ngModel)]="a.dreamingOf.contactPerson.name" name="dreamingContactName">
        <input placeholder="theboss@mail.com"
               class="form-control" type="email"
               [(ngModel)]="a.dreamingOf.contactPerson.email" name="dreamingContactEmail">
        <input placeholder="123-456789"
               class="form-control" type="tel"
               [(ngModel)]="a.dreamingOf.contactPerson.phone" name="dreamingContactPhone">
        <input placeholder="Head of HR Office"
               class="form-control" type="text"
               [(ngModel)]="a.dreamingOf.contactPerson.role" name="dreamingContactRole">
      </div>
      <label for="dreaming-deadlines">Reminders</label>
      <div id="dreaming-deadlines">
        <div *ngFor="let d of a.dreamingOf.deadlines" class="form-inline">
          <input placeholder="Applications open"
                 class="form-control" type="text"
                 [(ngModel)]="d.what" name="deadlineWhat">
          <input class="form-control" type="datetime"
                 [(ngModel)]="d.when" name="deadlineWhen">
          <ng-container *ngIf="d.reminder">
            <input placeholder="1"
                   class="form-control" type="number"
                   [(ngModel)]="d.reminder.howMuch" name="deadlineHowMuch">
            <select class="form-control" [(ngModel)]="d.reminder.unit" name="deadlineTimeUnit">
              <option *ngFor="let tu of applicationsService.timeUnits" [value]="tu.value">{{tu.display}}</option>
            </select>
            <select class="form-control" [(ngModel)]="d.reminder.beforeAfter" name="deadlineBeforeAfter">
              <option *ngFor="let ba of applicationsService.beforeAfter" [value]="ba.value">{{ba.display}}</option>
            </select>
          </ng-container>
          <ng-container *ngIf="!d.reminder">
            <button md-button (click)="d['reminder']={howMuch:0, unit: 'hours', beforeAfter: 'before'}">
              ADD
            </button>
          </ng-container>
        </div>
        <button md-button (click)="addDreamingDeadline()">Add</button>
      </div>

      <label for="upload-documents">Upload CV / Cover Letter</label>
      <div class="row file-uploader" id="upload-documents">
        <div *ngFor="let doc of a.applied.documents.concat(temporaryDocs)"
             class="col-md-4 col-sm-6 col-xs-12">
          <a target="_blank" [href]="doc.link" class="center-me">{{doc.name}}</a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="file" name="file" (change)="uploadFile($event)">
            <span class="center-me">+</span>
        </div>
      </div>
    </div>

    <!-- Form step 3 -->
    <div class="form-group" id="ongoing" *ngIf="a.status==='ongoing'">
      <button class="btn-add-more" md-button>
        <md-icon>add</md-icon>
        <span>Add event</span>
      </button>
    </div>

    <!-- Form step 4 -->
    <div class="form-group" *ngIf="a.status==='gotcha'">
      <div class="result-wrapper">
        <ul class="list-unstyled">
          <li class="thinking" mdTooltip="Thinking Offer">
            <md-icon>sms</md-icon>
          </li>
          <li class="accept" mdTooltip="Accepted!">
            <md-icon>mood</md-icon>
          </li>
          <li class="reject" mdTooltip="Rejected">
            <md-icon>mood_bad</md-icon>
          </li>
        </ul>
      </div>
      <input placeholder="Contract Type" id="contract"
             class="form-control" type="text"
             name="contractType">
    </div>

    <button type="button" (click)="saveApplication()" class="submit-btn btn btn-success">Submit</button>
    <button type="button" (click)="cancelEdits()" class="submit-btn btn btn-default">Cancel</button>
  </form>
</div>
