<div class="container">
  <div *ngIf="!a">
    <app-spinner></app-spinner>
  </div>
  <form *ngIf="a" class="form-horizontal">
    <div class="steps">
      <p>Break the door and reach your dream!</p>
      <md-progress-bar
        color="primary"
        mode="determinate"
        [value]="progressValue">
      </md-progress-bar>
      <ul class="steps-list">
        <li (click)="a.status='dreamingOf'"
            [class.active-step]="a.status=='dreamingOf'">
          <span>1</span>
          <p>Dreaming of</p>
        </li>
        <li (click)="a.status='applied'"
            [class.active-step]="a.status=='applied'">
          <span>2</span>
          <p>Applied</p>
        </li>
        <li (click)="a.status='ongoing'"
            [class.active-step]="a.status=='ongoing'">
          <span>3</span>
          <p>Ongoing</p>
        </li>
        <li (click)="a.status='gotcha'"
            [class.active-step]="a.status=='gotcha'">
          <span>4</span>
          <p>Gotcha!</p>
        </li>
      </ul>
    </div>

    <!-- Form step 1 -->
    <div class="form-group" id="company" *ngIf="a.status==='dreamingOf'">
      <label class="fullwidth" for="company"><h4>Company</h4></label>
      <!-- TODO make this dropdown work, I don't know how to receive the selected event
      <label for="company-name2">Name</label>
      <input placeholder="Your New Company Ltd" id="company-name2" required
             class="form-control" type="text" list="autocompletions-list"
             [formControl]="term"
             (select)="test($event)"
             [(ngModel)]="a.company.name" name="companyName">
      <datalist id="autocompletions-list">
        <option *ngFor="let c of autocompletions | async"
                [value]="c.name"
                [label]="c.website"></option>
      </datalist>
      -->
      <label for="company-name">Name</label>
      <input placeholder="Your New Company Ltd" id="company-name" required
             class="form-control" type="text"
             [formControl]="term"
             (blur)="dropdownVisible = false" (focus)="dropdownVisible = true"
             [(ngModel)]="a.company.name" name="companyName">
      <ul class="list-unstyled dropdown" [ngClass]="{'isVisible': dropdownVisible}">
        <li *ngFor="let item of autocompletions | async">
          <a (click)="showCompanyInfo(item)">{{item.name}}</a>
        </li>
      </ul>
      <label for="company-website">Website</label>
      <input placeholder="Website URL" id="company-website"
             class="form-control" type="text"
             [(ngModel)]="a.company.website" name="companyLocation">
      <label for="company-business-area">Business area</label>
      <input placeholder="Recreation" id="company-business-area"
             class="form-control" type="text"
             [(ngModel)]="a.company.businessArea" name="companyBusinessArea">

      <div id="position">
        <label for="position" class="fullwidth"><h4>Position</h4></label>
        <label for="position-title">Title</label>
        <input placeholder="Chief of Everything" id="position-title"
               class="form-control" type="text"
               [(ngModel)]="a.position.title" name="positionTitle">
        <label for="position-notes">Notes</label>
        <textarea placeholder="A little bird told me about this position" id="position-notes"
                  class="form-control" type="text" rows="3"
                  [(ngModel)]="a.position.notes" name="positionTitle"></textarea>
        <label for="position-salary">Expected Salary</label>
        <div class="form-inline" id="position-salary">
          <input placeholder="100"
                 class="form-control" type="number" step="100" min="0"
                 [(ngModel)]="a.position.expectedSalary.value" name="positionSalaryValue">
          <select class="form-control" [(ngModel)]="a.position.expectedSalary.currency" name="positionSalaryCurrency">
            <option *ngFor="let c of applicationsService.currencies" [value]="c.value">{{c.display}}</option>
          </select>
          <select class="form-control" [(ngModel)]="a.position.expectedSalary.billings" name="positionSalaryBilling">
            <option *ngFor="let b of applicationsService.billings" [value]="b.value">{{b.display}}</option>
          </select>

        </div>

        <!-- TODO upload attachments -->
      </div>

      <label class="fullwidth" for="dreaming-contact"><h4>Contact person</h4></label>
      <div id="dreaming-contact" class="form-set">
        <input placeholder="The Boss"
               class="form-control" type="text"
               [(ngModel)]="a.dreamingOf.contactPerson.name" name="dreamingContactName">
        <input placeholder="theboss@mail.com"
               class="form-control" type="email"
               [(ngModel)]="a.dreamingOf.contactPerson.email" name="dreamingContactEmail">
        <input placeholder="123-456789"
               class="form-control" type="tel"
               [(ngModel)]="a.dreamingOf.contactPerson.phone" name="dreamingContactPhone">
        <input placeholder="Head of HR Office"
               class="form-control" type="text"
               [(ngModel)]="a.dreamingOf.contactPerson.role" name="dreamingContactRole">
      </div>

      <label class="fullwidth" for="dreaming-deadlines"><h4>Deadlines</h4></label>
      <div id="dreaming-deadlines">
        <div *ngFor="let d of a.dreamingOf.deadlines; let i=index" class="form-inline">
          <input placeholder="Applications open"
                 class="form-control" type="text"
                 [(ngModel)]="d.what" name="deadlineWhat">
          <input class="form-control" type="datetime-local"
                 [(ngModel)]="d.when" name="deadlineWhen">
          <ng-container *ngIf="d.reminder">
            <input placeholder="1"
                   class="form-control" type="number"
                   [(ngModel)]="d.reminder.howMuch" name="deadlineHowMuch">
            <select class="form-control" [(ngModel)]="d.reminder.unit" name="deadlineTimeUnit">
              <option *ngFor="let tu of applicationsService.timeUnits" [value]="tu.value">{{tu.display}}</option>
            </select>
            <select class="form-control" [(ngModel)]="d.reminder.beforeAfter" name="deadlineBeforeAfter">
              <option *ngFor="let ba of applicationsService.beforeAfter" [value]="ba.value">{{ba.display}}</option>
            </select>
          </ng-container>
          <ng-container *ngIf="!d.reminder">
            <button md-button (click)="addReminder(d)">
              <md-icon>add_alert</md-icon>
            </button>
          </ng-container>
          <button md-button (click)="a.dreamingOf.deadlines.splice(i,1)">
            <md-icon>delete_forever</md-icon>
          </button>
        </div>
        <button md-button (click)="addDreamingDeadline()">Add</button>
      </div>

    </div>

    <!-- Form step 2 -->
    <div class="form-group" *ngIf="a.status==='applied'">

      <label for="upload-documents">Upload CV / Cover Letter</label>
      <div class="row file-uploader" id="upload-documents">
        <div *ngFor="let doc of a.applied.documents"
             class="col-md-4 col-sm-6 col-xs-12">
          <span (click)="deleteFile(doc.name)">X</span>
          <a target="_blank" [href]="doc.link" class="center-me">{{doc.name}}</a>
        </div>
        <div *ngFor="let doc of temporaryDocs"
             class="col-md-4 col-sm-6 col-xs-12">
          <span (click)="deleteFile(doc.name)">X</span>
          <a target="_blank" [href]="doc.link" class="center-me">{{doc.name}}</a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="file" name="file" (change)="uploadFile($event)">
            <span class="center-me">+</span>
        </div>
      </div>
    </div>

    <!-- Form step 3 -->

    <div class="form-group" id="ongoing" class="step3" *ngIf="a.status==='ongoing'">
      <div class="button-wrapper">
        <button class="btn-add-more" md-button  (click)="addOngoingEvents()">
          <md-icon>add</md-icon>
          <span>Add event</span>
        </button>
      </div>
      <div class="new-event" *ngFor="let d of a.ongoing.events">
      <label>Event Title</label>
        <input placeholder="Interview / Test / Event title"
                 class="form-control" type="text"
                 [(ngModel)]="d.title" [ngModelOptions]="{standalone: true}">
        <div id="eventContact" class="form-set">
        <label>Date</label>
        <input placeholder="mm/dd/yy"
         class="form-control" type="datetime"
         [(ngModel)]="d.date" [ngModelOptions]="{standalone: true}">
          <label class="subtitle">Contact Person</label>
          <input placeholder="Name"
                   class="form-control" type="text"
                   [(ngModel)]="d.with.name" [ngModelOptions]="{standalone: true}">
          <input placeholder="example@email.com"
                   class="form-control" type="text"
                   [(ngModel)]="d.with.email" [ngModelOptions]="{standalone: true}">
          <input placeholder="phone number"
                   class="form-control" type="text"
                   [(ngModel)]="d.with.phone" [ngModelOptions]="{standalone: true}">
          <input placeholder="role"
                   class="form-control" type="text"
                   [(ngModel)]="d.with.role" [ngModelOptions]="{standalone: true}">
        </div>
        <label>Notes</label>
        <textarea placeholder="Important interview with R&D manager"
                  class="form-control" type="text" rows="3"
                  [(ngModel)]="d.notes" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </div>

    <!-- Form step 4 -->
    <div class="form-group" *ngIf="a.status==='gotcha'">
      <div class="result-wrapper">
        <ul class="list-unstyled" [ngClass]="a.gotcha.outcome">
          <li class="thinking" mdTooltip="Thinking Offer" (click)="addJobResult('thinking')">
            <md-icon>sms</md-icon>
          </li>
          <li class="accept" mdTooltip="Accepted!" (click)="addJobResult('accept')">
            <md-icon>mood</md-icon>
          </li>
          <li class="reject" mdTooltip="Rejected" (click)="addJobResult('rejected')">
            <md-icon>mood_bad</md-icon>
          </li>
          <li class="refuse" mdTooltip="Refuse" (click)="addJobResult('refuse')">
            <md-icon>pan_tool</md-icon>
          </li>
        </ul>
        <p><em>{{resultText}}</em></p>
      </div>
      <label>Contract Type</label>
      <input placeholder="Contract Type"
             class="form-control" type="text"
             [(ngModel)]="a.gotcha.contractType" name="contractType">
      <label>Starting Date</label>
      <input placeholder="Starting date"
             class="form-control input-date" type="date"
             [(ngModel)]="a.gotcha.startingDate" name="startDate">
      <label>Final Salary</label>
      <div class="form-inline" id="final-salary">
          <input placeholder="10000"
                 class="form-control" type="number" step="100" min="0"
                 [(ngModel)]="a.gotcha.salary.value" name="finalSalaryValue">
          <select class="form-control" [(ngModel)]="a.gotcha.salary.currency" name="finalSalaryCurrency">
            <option *ngFor="let c of applicationsService.currencies" [value]="c.value">{{c.display}}</option>
          </select>
          <select class="form-control" [(ngModel)]="a.gotcha.salary.billings" name="finalSalaryBilling">
            <option *ngFor="let b of applicationsService.billings" [value]="b.value">{{b.display}}</option>
          </select>
      </div>
      <label>Offer Deadline</label>
      <input placeholder="Offer Deadline"
             class="form-control input-date" type="date"
             [(ngModel)]="a.gotcha.deadline" name="offerDeadline">
      <label>Notes</label>
      <textarea placeholder="Such a cool job"
                class="form-control" type="text" rows="3"
                [(ngModel)]="a.gotcha.notes" name="gotchaNotes"></textarea>
    </div>

    <div class="button-wrapper">
      <button type="button" (click)="saveApplication()" class="submit-btn btn btn-success">Submit</button>
      <button type="button" (click)="cancelEdits()" class="submit-btn btn btn-default">Cancel</button>
    </div>
  </form>
</div>
