<navigation title="About Door Buster!" [buttons]="[{icon:'reply', link:'/welcome'}]"></navigation>

<div class="container">
  <h1>About Door Buster</h1>
  <table>
    <tr>
      <th colspan="2">KTH DH2642 Group 8</th>
    </tr>
    <tr>
      <td>Aleksi Ala-Harja</td><td>aleksiah@kth.se</td>
    </tr>
    <tr>
      <td>Federico Baldassarre &nbsp;&nbsp;</td><td>fedbal@kth.se</td>
    </tr>
    <tr>
      <td>Yinan Xu</td><td>yinanx@kth.se</td>
    </tr>
    <tr>
      <td>Ela Yudhanira</td><td>elayu@kth.se</td>
    </tr>
  </table>

  <h2>Problem</h2>
  <p>
  In a world where applying for a job is as easy as sending an email, keeping track of the status of your applications has become complex and time consuming. So many versions of your curriculum spread over your USB drive, your Desktop and a cloud account, not to mention the cover letters!
  </p>

  <h2>Solution</h2>
  <p>
  We propose a single integrated platform to keep track of every step of your application: from dreaming the job to your first day on it. The service will allow the user to manage the status of his applications, together with all the attached documents, deadlines, meetings, messages and emails. It will also help the user selecting the right set of skills to introduce himself to a new company, based on similar applications he's done in the past.
  </p>

  <h2>Target</h2>
  <p>
  Every person in need of a systematized solution to track his application, from students looking for summer jobs to seasoned professionals chasing their next CEO position.
  </p>

  <h2>Technologies</h2>

  <h3>Frontend (web application):</h3>
  <ul>
    <li>Angular</li>
  </ul>


  <h3>Backend (auth and storage):</h3>
  <ul>
    <li>Firebase</li>
  </ul>


  <h3>External APIs:</h3>
  <ul>
    <li>LinkedIn and GlassDoor</li>
    <li>Some email/reminder service</li>
    <li>Some other cool stuff we can add randomly</li>
  </ul>


  <h2> Draft of the steps of an application </h2>

  <ol type="I">
    <li>Pre-application:</li>
      <ol>
        <li>Name of the company and basic informations (headquarters, number of employees, founded, contacts)</li>
        <li>Position (position, where you found it, when you found it, how to apply, requirements)</li>
        <li>Kind of job (period, contract type)</li>
        <li>Deadlines (applications open, application closes)</li>
        <li>Reminders (apply before/after)</li>
        <li>Documents: link to the job listing, photo of the advertise etc.</li>
        <li>CV/CL drafts</li>
      </ol>
    <li>Application step:</li>
      <ol>
        <li>Upload a CV + Cover Letter (specific for that company, help deciding the skills to highlight, maybe some typo checking)</li>
        <li>Reminders (when to expect a follow up)</li>
      </ol>
    <li>Ongoing (the largest and more generic step):</li>
      <ol>
        <li>Track each step of the interviewing process based on:</li>
        <li>What (Skype/phone/in person/on site)</li>
        <li>Who (interviewers you interacted with)</li>
        <li>When (incoming/completed + optional reminders)</li>
      </ol>
    <li>Final Step:</li>
      <ol>
        <li>Rejected: keep it for reference/delete it</li>
        <li>Got an offer: how much, starting when, type of contract, who you spoke with</li>
        <li>Accepted: celebrate</li>
      </ol>
  </ol>
</div>
