<navigation title="About Door Buster!" [buttons]="[{icon:'reply', link:'/welcome'}]"></navigation>

<div class="jumbotron">
  <div class="container">
    <h1>DoorBuster!</h1>
    <p>Keeping track of your job applications like never before.</p>
  </div>
</div>
<div class="container">
  <div class="row featurette">
    <div class="col-xs-12 col-sm-5">
      <img class="about-1" src="../../assets/images/illustration-1.jpg">
    </div>
    <div class="col-xs-12 col-sm-7">
      <h5 class="about-text">In a world where applying for a job is as easy as sending an email, keeping track of the status of your applications has become complex and time consuming. So many versions of your curriculum spread over your USB drive, your Desktop and a cloud account, not to mention the cover letters!</h5>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette center">
    <div class="col-sm-12 col-md-3">
      <img src="../../assets/images/steps_01.jpg">
      <h4>Dreaming Of!</h4>
      <p>Put all your dream jobs at one place. With Glassdoor API, access quick information about your future companies.</p>
    </div>

    <div class="col-sm-12 col-md-3">
      <img src="../../assets/images/steps_02.jpg">
      <h4>Applied</h4>
      <p>Track your CVs and Cover Letters, highlight skills for specific company, keep organized and the future is in your hand.</p>
    </div>

    <div class="col-sm-12 col-md-3">
      <img src="../../assets/images/steps_03.jpg">
      <h4>Ongoing</h4>
      <p>No more missing interviews and test! Track events related to your application process, including information based on: Who, What, When.</p>
    </div>

    <div class="col-sm-12 col-md-3">
      <img src="../../assets/images/steps_04.jpg">
      <h4>Gotcha!</h4>
      <p>Final step to help you decide which one is the best job for you!</p>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <footer>
      <p>Group 8 - Aleksi Ala-Harja [aleksiah@kth.se], Ela Yudhanira [elayu@kth.se], Federico Baldassarre [fedbal@kth.se], Yinan Xu [yinanx@kth.se]
      </p>
    </footer>
  </div>
</div>
