.mainboard{
	width: 100%;
	max-width: 1920px;
	padding-top:84px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin : 64px auto 0;
	left: 0;
	right: 0;
	position: absolute;
	height: 100%;
	top:-64px;
	box-sizing: border-box;
	overflow-y: hidden;
	z-index: 1;
	/*background-color: #9cc5e6;*/
	background-image: url("bg2.jpg");
	background-size: cover;
}
.mainboard .flex-item{
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 0 0 40px 0;
	overflow: hidden;
}
.flex-item .avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: table-cell;
	vertical-align: top;
}
.board-title{
	margin: 0;
	padding: 13px;
	color: #fff;
	font-weight:400;
}
.board-content{
	overflow-y: scroll;
	position: relative;
	height: 100%;
	border: none;
	background-color: rgba(255,255,255,0.5);
}

.board-item{
	position: relative;
	margin: 10px 15px 0 15px;
	box-shadow: none;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #eee;
	z-index: 10;
}
.card-header{
	display: table;
	overflow: hidden;
	height: auto;
	margin: 0 0 10px 0;
}
.mat-card-header-text{height: 0!important;}
.card-header-text{
	height: auto;
	margin:0 8px;
	padding-left: 8px;
	display: table-cell;
	vertical-align: top;
	overflow: hidden;
}
.card-title, .card-subtitle{margin-bottom: 5px;}
.card-subtitle{
	color: rgba(0, 0, 0, 0.54);
}
.blue-theme .board-title{
	background-color: #8693e8;
	border-bottom: 3px solid #4150b7;
}
.lighter-theme .board-item{
	background-color: #fff;
}
.green-theme .board-title{
	background-color: #96df91;
	border-bottom: 3px solid #52ae4b;
}
.orange-theme .board-title{
	background-color: #e9d18f;
	border-bottom: 3px solid #ff9800;
}
.pink-theme .board-title{
	background-color: #e89bb4;
	border-bottom: 3px solid #e52163;
}

md-card:hover .edit-icon {
  opacity: 1;
}

md-card:hover .delete-icon {
  opacity: 1;
}

.edit-icon{
  opacity: 0.2;
	font-size: 1em;
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 100;
	cursor: pointer;
}

.delete-icon{
  opacity: 0.1;
  font-size: 1em;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
}
/*#popUp {
	position: absolute;
	top:0;
	width: 50%;
	margin-left: 25%;
	border: 1px solid black;
	z-index: 10;
}*/
#popUp {

}
.view-show {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(1,1,1,0.7);
  z-index: 1001;
  overflow-y: scroll;
}
.close {
	font-size: 31px;
/*	position: absolute;
	left: 70%;
	top:20%;*/
}
.close:hover {
	color: red;
}
.white_content {
  position: absolute;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 25%;
  width: 50%;
  padding: 16px;
  padding-left: 30px;
  border: 16px solid #95d4f1;
  background-color: white;
  z-index: 1002;
}
.white_content h5{
	font-size: 17px;
}
.intro {
	height: 88px;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 20px;
}
.logo{
	width: 64px;
	height: 64px;
	float: left;
	margin-right: 20px;
}
.event_style{
	border-left: 2px solid #ffa1a1;
	padding-left: 10px;
}
.position{
	border-bottom: 1px solid lightgrey;
	margin-bottom: 20px;
}
.failed{
	color: #FF3373;
	font-weight: bold;
	font-size: 20px;
}
.success h5{
	color: #FF3373;
	font-weight: bold;
	font-size: 20px;
}
.outcome-wrapper{
	display: block;
	width: 100%;
}
.outcome-wrapper li{
	float: left;
	width: 100%;
	border-radius: 2px;
	padding: 10px 5px;
	color: #fff;
	display: none;
	text-align: center;
	margin-bottom: 5px;
}
.outcome-wrapper li.thinking{
	background: #febe11;
}
.outcome-wrapper li.accept{
	background: #4dad4e;
}
.outcome-wrapper li.rejected{
	background: #f04438;
}
.outcome-wrapper li.refuse{
	background: #FF5722;
}
.thinking li.thinking{
	display: block;
}
.accept li.accept{
	display: block;
}
.rejected li.rejected{
	display: block;
}
.refuse li.refuse{
	display: block;
}
