<div class="mainboard flex-container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start"
     fxLayoutGap="20px">
  <div class="flex-item blue-theme" fxFlex="25%">
    <h4 class="board-title">Dreaming Of</h4>
    <div class="board-content">
      <div *ngFor="let job of applicationsService.applications$| async">

        <ng-container *ngIf="job.status==='dreamingOf'">
          <md-card class="board-item" (click)="popup(job.$key)">
            <md-card-header class="card-header">
              <img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
              <md-card-title-group class="card-header-text">
                <md-card-title>{{job.company.name}}</md-card-title>
                <md-card-subtitle>{{job.position.title}}</md-card-subtitle>
              </md-card-title-group>
              <md-icon class="edit-icon" color="primary" (click)="edit(job.$key)">edit</md-icon>
              <md-icon class="delete-icon" color="warn" (click)="delete(job.$key, job.company.name)">delete_forever</md-icon>
            </md-card-header>
            <md-card-content>
              <ng-container *ngIf="job.dreamingOf.deadlines">
                <ul>
                  <li *ngFor="let d of job.dreamingOf.deadlines">{{d.what}} - {{d.when | date}}</li>
                </ul>
              </ng-container>

            </md-card-content>
          </md-card>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="flex-item green-theme" fxFlex="25%">
    <h4 class="board-title">Applied</h4>
    <div class="board-content">
      <div *ngFor="let job of applicationsService.applications$| async">
        <ng-container *ngIf="job.status==='applied'">
          <md-card class="board-item" (click)="popup(job.$key)">
            <md-card-header class="card-header">
              <img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
              <md-card-title-group class="card-header-text">
                <md-card-title>{{job.company.name}}</md-card-title>
                <md-card-subtitle>{{job.position.title}}</md-card-subtitle>
              </md-card-title-group>
              <md-icon class="edit-icon" color="primary" (click)="edit(job.$key)">edit</md-icon>
              <md-icon class="delete-icon" color="warn" (click)="delete(job.$key, job.company.name)">delete_forever</md-icon>
            </md-card-header>
            <md-card-content>
              <ng-container *ngIf="job.applied.documents">
                <p>{{job.applied.documents.length}} document(s) uploaded</p>
              </ng-container>
              <ng-container *ngIf="!job.applied.documents">
                <p>no documents uploaded</p>
              </ng-container>
            </md-card-content>
          </md-card>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="flex-item orange-theme" fxFlex="25%">
    <h4 class="board-title">Ongoing</h4>
    <div class="board-content">
      <div *ngFor="let job of applicationsService.applications$| async">
        <ng-container *ngIf="job.status==='ongoing'">
          <md-card class="board-item" (click)="popup(job.$key)">
            <md-card-header class="card-header">
              <img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
              <md-card-title-group class="card-header-text">
                <md-card-title>{{job.company.name}}</md-card-title>
                <md-card-subtitle>{{job.position.title}}</md-card-subtitle>
              </md-card-title-group>
              <md-icon class="edit-icon" color="primary" (click)="edit(job.$key)">edit</md-icon>
              <md-icon class="delete-icon" color="warn" (click)="delete(job.$key, job.company.name)">delete_forever</md-icon>
            </md-card-header>
            <md-card-content>
              <ng-container *ngIf="job.ongoing.events">
                <ul>
                  <li *ngFor="let event of job.ongoing.events">{{event.title}} with
                    <span *ngIf="event.with.name"><a href="mailto:{{event.with.email}}">{{event.with.name}}</a></span>
                    <span *ngIf="!event.with.name">n/a</span>
                  </li>
                </ul>
              </ng-container>
            </md-card-content>
          </md-card>
        </ng-container>
      </div>
    </div>

  </div>
  <div class="flex-item pink-theme" fxFlex="25%">
    <h4 class="board-title">Gotcha!</h4>
    <div class="board-content">
      <div *ngFor="let job of applicationsService.applications$| async">
        <ng-container *ngIf="job.status==='gotcha'">
          <md-card class="board-item" (click)="popup(job.$key)">
            <md-card-header class="card-header">
              <img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
              <md-card-title-group class="card-header-text">
                <md-card-title>{{job.company.name}}</md-card-title>
                <md-card-subtitle>{{job.position.title}}</md-card-subtitle>
              </md-card-title-group>
              <md-icon class="edit-icon" color="primary" (click)="edit(job.$key)">edit</md-icon>
              <md-icon class="delete-icon" color="warn" (click)="delete(job.$key, job.company.name)">delete_forever</md-icon>
            </md-card-header>
            <md-card-content>
              <div class="outcome-wrapper">
                <ul class="list-unstyled" [ngClass]="job.gotcha.outcome">
                  <li class="thinking" mdTooltip="Thinking Offer">
                    Thinking offer
                  </li>
                  <li class="accept" mdTooltip="Accepted!">
                    Accepted!
                  </li>
                  <li class="rejected" mdTooltip="Rejected">
                    Rejected
                  </li>
                  <li class="refuse" mdTooltip="Refuse">
                    Refuse
                  </li>
                </ul>
              </div>
              <p *ngIf="job.gotcha.contractType">Contract type: {{job.gotcha.contractType}}</p>
              <p *ngIf="job.gotcha.salary">Salary: {{job.gotcha.salary.value}} {{job.gotcha.salary.currency | uppercase}}
                <span *ngIf="job.gotcha.salary.billings"> / {{job.gotcha.salary.billings}}</span>
              </p>
            </md-card-content>
          </md-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div id="popUp">
  <div *ngFor="let job of applicationsService.applications$| async">
    <div id="{{job.$key}}" class="view-show">
      <div class="white_content">
        <button type="button" class="close" (click)="close(job.$key)" >&times;</button>
        <div class="intro">
          <img class="logo" src="{{job.company.squareLogo}}">
          <h2>{{job.company.name}}</h2>
          <p *ngIf="job.dreamingOf.website!==''"><a href="{{job.company.website}}">{{job.company.website}}</a></p>
        </div>
        <div class="position">
          <h5> - {{job.position.title}} - </h5>
          <p>{{job.position.notes}}</p>
          <p *ngIf="job.position.expectedSalary.value!==''">Expected salary: {{job.position.expectedSalary.value}} {{applicationsService.currencies[job.position.expectedSalary.currency]}}/{{job.position.expectedSalary.billings}}</p>
        </div>

        <div *ngIf="job.status==='dreamingOf'">
          <ng-container *ngIf="job.dreamingOf.deadlines">
              <p *ngFor="let d of job.dreamingOf.deadlines">{{d.what}}: {{d.when | date}}</p>
          </ng-container>
          <p *ngIf="job.dreamingOf.contactPerson.name!==''">Contact: {{job.dreamingOf.contactPerson.name}}({{job.dreamingOf.contactPerson.role}}) - {{job.dreamingOf.contactPerson.email}}</p>
        </div>

        <div *ngIf="job.status==='applied'">
          <p *ngIf="job.applied.applicationDate!==''">Application date: {{job.applied.applicationDate | date}}</p>
        </div>

        <div *ngIf="job.status==='ongoing'">
          <p *ngIf="job.applied.applicationDate!==''">Application date: {{job.applied.applicationDate | date}}</p>
          <ng-container *ngIf="job.ongoing.events">
            <div *ngFor="let e of job.ongoing.events" class="event_style">
              <h5>{{e.title}}</h5>
              <p>{{e.date | date}}</p>
              <p>with - {{e.with.name}}, {{e.with.email}}</p>
              <p>{{e.notes}}</p>
            </div>
          </ng-container>
        </div>

        <div *ngIf="job.status==='gotcha'">
          <p *ngIf="job.applied.applicationDate!==''">Application date: {{job.applied.applicationDate | date}}</p>
          <div *ngIf="job.ongoing.events" class="position">
            <div *ngFor="let e of job.ongoing.events" class="event_style">
              <h5>{{e.title}}</h5>
              <p>{{e.date | date}}</p>
              <p>with - {{e.with.name}}, {{e.with.email}}</p>
              <p>{{e.notes}}</p>
            </div>
          </div>
          <div *ngIf="job.gotcha.outcome==='rejected'" class="failed">
            Rejected &#9785;
          </div>
          <div *ngIf="job.gotcha.outcome!=='rejected'" class="success">
            <h5>Get Offer! &#9786;</h5>
            <p>Salary: {{job.gotcha.salary.value}} {{job.gotcha.salary.currency}} /{{job.gotcha.salary.billings}}</p>
            <p>reply before: {{job.gotcha.deadline}}</p>
            <p>start work: {{job.gotcha.startingDate | date}}</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

