<div class="mainboard">
	<div class="flex-container"
	     fxLayout="row"
	     fxLayout.xs="column"
	     fxLayoutAlign.xs="start"
	     fxLayoutGap="20px">
	  <div class="flex-item blue-theme" fxFlex="25%">
	  	<h4 class="board-title">Dreaming Of</h4>
	  	<div class="board-content">
	  		<md-card class="board-item" *ngFor="let job of applicationsService.applications$| async">
	  			<md-card-header>
	  				<img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
	  				<md-card-title>{{job.company.name}}	</md-card-title>
	  				<md-card-subtitle>{{job.position.title}}</md-card-subtitle>
	  				<md-icon class="edit-icon" color="primary">edit</md-icon>
	  			</md-card-header>
	  			<md-card-content>
	  				{{job.dreamingOf.deadlines[0].when}} - {{job.dreamingOf.deadlines[1].when}}
	  			</md-card-content>
	  		</md-card>
	  	</div>
	  </div>
	  <div class="flex-item green-theme" fxFlex="25%">
	  	<h4 class="board-title">Applied</h4>
	  	<div class="board-content">
		  	<md-card class="board-item" *ngFor="let job of applicationsService.applications$| async">
	  			<md-card-header>
	  				<img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
	  				<md-card-title>{{job.company.name}}	</md-card-title>
	  				<md-card-subtitle>{{job.position.title}}</md-card-subtitle>
	  				<md-icon class="edit-icon" color="primary">edit</md-icon>
	  			</md-card-header>
		  	</md-card>
	  	</div>
	  </div>
	  <div class="flex-item orange-theme" fxFlex="25%">
	  	<h4 class="board-title">Ongoing</h4>
	  	<div class="board-content">
  		  	<md-card class="board-item" *ngFor="let job of applicationsService.applications$| async">
	  			<md-card-header>
	  				<img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
	  				<md-card-title>{{job.company.name}}	</md-card-title>
	  				<md-card-subtitle>{{job.position.title}}</md-card-subtitle>
	  				<md-icon class="edit-icon" color="primary">edit</md-icon>
	  			</md-card-header>
  			</md-card>
	  	</div>

	  </div>
	  <div class="flex-item pink-theme" fxFlex="25%">
	  	<h4 class="board-title">Gotcha!</h4>
	  	<div class="board-content">
		  	<md-card class="board-item" *ngFor="let job of applicationsService.applications$| async">
	  			<md-card-header>
	  				<img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
	  				<md-card-title>{{job.company.name}}	</md-card-title>
	  				<md-card-subtitle>{{job.position.title}}</md-card-subtitle>
	  				<md-icon class="edit-icon" color="primary">edit</md-icon>
	  			</md-card-header>
				<md-card-content>
	  				<p>Salary: {{job.gotcha.salary.value}} {{job.gotcha.salary.currency}} /{{job.gotcha.salary.billing}}</p>
	  			</md-card-content>
			</md-card>
	  	</div>
	  </div>
	</div>
</div>

 
