<md-card class="board-item" (click)="popup(job.$key)">
  <div class="card-header">
    <img class="avatar" md-card-avatar src="{{job.company.squareLogo}}">
    <div class="card-header-text">
      <p class="card-title">{{job.company.name}}</p>
      <p class="card-subtitle">{{job.position.title}}</p>
    </div>
    <md-icon class="edit-icon" color="primary" (click)="edit(job.$key)">edit</md-icon>
    <md-icon class="delete-icon" color="warn" (click)="remove(job.$key, job.company.name)">delete_forever</md-icon>
  </div>
  <app-card-detail [status]=job.status [job]=job></app-card-detail>
</md-card>


