<div class="body">
  <navigation title="Welcome" [buttons]="[{icon:'info_outline', link:'/about'}]"></navigation>

<div class="login-container center">
  <header>
    <h1>DoorBuster</h1>
    <p>Your door to success</p>
  </header>
      <div class="login-button">
        <ng-container *ngIf="!(userService.loggedIn$ | async)">
          <button md-raised-button color="primary" (click)="userService.login()">
            <img width="30" src="assets/google-logo.png"/>Use My Google Account
          </button>
        </ng-container>

        <ng-container *ngIf="userService.loggedIn$ | async">
          <h3 class="subtitle">Welcome {{(userService.userInfo | async)?.name}}</h3>
          <button md-raised-button color="primary" routerLink="/home" routerLinkActive="active">
            Continue
          </button>
          <button md-raised-button (click)="userService.logout()">
            Logout
          </button>
        </ng-container>
      </div>
    </div>
</div>

