<md-toolbar color="primary">
  <span>{{title}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>

  <!-- AddNew button -->
  <app-nav-icon-link *ngFor="let ic of buttons" [icon]="ic.icon" [link]="ic.link" [action]="ic.action"></app-nav-icon-link>

  <!-- LogOut button -->
  <a href="/#" style="margin-left:5px;" *ngIf="userService.loggedIn$ | async">
    <md-icon (click)="userService.logout()" style="color:white;">power_settings_new</md-icon>
  </a>

</md-toolbar>
