@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$iot-primary: mat-palette($mat-blue, 500);
$iot-accent:  mat-palette($mat-lime, A200, A400, A700);

// The warn palette is optional (defaults to red).
$iot-warn:    mat-palette($mat-red, A700);

// Create the theme object (a Sass map containing all of the palettes).
$iot-theme: mat-light-theme($iot-primary, $iot-accent, $iot-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($iot-theme);

// custom styling for all pages
body{
	margin: 0;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-toolbar{
	position: relative;
	z-index: 2;
}
